@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&family=Fuggles&family=Mooli&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#main{
   height: 100%;
   width: 100%;
   background-color: rgb(110, 36, 71); 
   display: flex;
}
#part1{
    height: 100%;
    width: 18%;
    
}

#part2{
    height: 100%;
    width: 72%;
    background-color:rgb(107, 31, 84);
    background-image: url(https://media.istockphoto.com/id/1177900338/photo/cup-of-espresso-with-coffee-beans.jpg?s=612x612&w=0&k=20&c=5cAWrCndkNTzBkcFKFqEn3eXvEwBT30uMRkSogaH-oY=);
    background-size: cover;
    background-position: center;

}
#overlay{
    height: 100%;
    width: 100%;
    background-color:rgba(194, 115, 170, 0.397) ;
}
#part3{
    height: 100%;
width: 10%;
    /* background-color:rgb(228, 172, 228); */
} 
#text{
    font-family: 'Alkatra', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Fuggles', cursive;
font-family: 'Mooli', sans-serif;
height: 165px;
position: absolute;
width: 250px;
background-color:rgba(105, 65, 65, 0.527);
left: 18%;
top: 10%;
bottom: 10%;
padding:2rem;
/* margin: 1rem; */
transform: translate(0,-50%);
} 
#text h2{
   font-size: 35px;
  

}
#small-img{
    height: 450px;
    width: 300px;
   
    background-image: url(https://images.unsplash.com/photo-1504627298434-2119d6928e93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Y29mZmVlJTIwaW1hZ2VzJTIwbmVzdGxlZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
background-size: cover;
background-position: center;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0 ,-50%);
}
#textdeco{
    position: absolute;
    bottom: 20%;
    right: -10%;
    top: 20%;
     transform: rotate(90deg);
   
}
#textdeco h2{
    font-size:37px ;
    font-weight: 1200;
    font-family: 'Alkatra', cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fuggles', cursive;
    font-family: 'Mooli', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(194, 178, 185);
    color: transparent;
    display: flex;
   

}
#textdeco{
    animation-name:textdeco;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes textdeco{
   
    0%{
        top: 250px;
        bottom: 0px;
    }
    100%{
        top: 0px;
        bottom: 250px;
    }

}
/* #part1 img{
    transform: translate(-2%,0);
    width: 250px;
    background-size: cover;
background-position: center;
    position: absolute;
    background-color: rgb(110, 36, 71); 
    
} */
#part1 img{
    width: 145px;
    height: 149px;
    transform: translate(35%,10%);
    cursor: pointer;
    display: flex;
    flex-direction: row;
   padding: 2%;
    
}
#part1 img:hover{
    width: 142px;
    height: 147px;
    
}

#part1 h2{
    font-family: 'Alkatra', cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Fuggles', cursive;
    font-family: 'Mooli', sans-serif; 
    font-size:37px ;
    font-weight: 1200;
    color:rgb(194, 178, 185) ;
}
